<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>PGroup</title>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/custom-font/fonts.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" href="css/fontawesome.css"> -->
  <!-- Bootsnav -->
  <link rel="stylesheet" href="/css/bootsnav.css">
  <!-- Fancybox -->
  <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/css/custom.css" />
  <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>

  <!-- Preloader -->

  <!--End off Preloader -->
  <section id="home" class="home">
    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel-inner -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/assets/slide-1.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h1>PGROUP</h1>
              <h1 class="second_heading">COMING SOON...</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-2.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h1>PGROUP</h1>
              <h1 class="second_heading">COMING SOON...</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-3.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h1>PGROUP</h1>
              <h1 class="second_heading">COMING SOON...</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-4.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h1>PGROUP</h1>
              <h1 class="second_heading">COMING SOON...</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-5.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h1>PGROUP</h1>
              <h1 class="second_heading">COMING SOON...</h1>
            </div>
          </div>
        </div>
      </div><!-- Carousel-inner end -->



  <!-- Footer -->
  <footer>
    <!-- Footer top -->
    <div class="container footer_top">
      <div class="row">
        <div class="col-lg-9 col-sm-7">
          <div class="footer_item">
            <h4>About Company</h4>
            <!-- <img class="logo" src="images/logo.png" alt="Construction" />About -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum autem necessitatibus vel ipsum sit sequi pariatur quo quos error architecto officiis beatae, nobis blanditiis dicta iure excepturi laborum doloremque.</p>

            <ul class="list-inline footer_social_icon">
              <li><a href=""><span class="fa fa-facebook"></span></a></li>
              <li><a href=""><span class="fa fa-twitter"></span></a></li>
              <li><a href=""><span class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-5">
          <div class="footer_item">
            <h4>Contact us</h4>
            <ul class="list-unstyled footer_contact">
              <li><a href=""><span class="fa fa-map-marker"></span> Baku, Azerbaijan</a></li>
              <li><a href=""><span class="fa fa-envelope"></span> example@example.cm</a></li>
              <li><a href="tel:+994555555555"><span class="fa fa-mobile"></span> +994 55 555 55 55</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- Footer top end -->

  </footer><!-- Footer end -->

  <!-- JavaScript -->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Bootsnav js -->
  <script src="/js/bootsnav.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/js/isotope.js"></script>
  <script src="/js/isotope-active.js"></script>
  <script src="/js/jquery.fancybox.js?v=2.1.5"></script>

  <script src="/js/jquery.scrollUp.min.js"></script>

  <script src="/js/main.js"></script>
</body>

</html>