<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PGroup</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="/admin/assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="/admin/assets/css/font-awesome.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="/admin/assets/css/get-work.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="adjust-nav">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">
            PGroup
          </a>
        </div>
        <span class="logout-spn">
          <a href="#" style="color:#fff;">LOGOUT</a>
        </span>
      </div>
    </div>
    <!-- /. NAV TOP  -->
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
      <div id="page-inner">
        <!-- /. ROW  -->
        <hr />
        <!-- /. ROW  -->
        <h1><%= work.name %></h1>
        <div class="container">
          <div class="row">
            <% for (let workImage of workImages) { %>
            <div class="col-md-3 portfolioImages">
              <img src="<%= workImage.image.split('/public')[1] %>" alt="<%= work.name %>">
            </div>
            <% } %>
          </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
        <!-- /. ROW  -->
      </div>
      <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-lg-12">
        &copy; 2023 pgroup.az
      </div>
    </div>
  </div>

  <!-- /. WRAPPER  -->
  <script src="/admin/assets/js/jquery-1.10.2.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>
  <script src="/admin/assets/js/custom.js"></script>

</body>

</html>